Source: unity-webapps-rmilk
Section: web
Priority: extra
Maintainer: Ilya Voronin <ivoronin@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://github.com/ivoronin/unity-webapps-rmilk/

Package: unity-webapps-rmilk
Architecture: all
Depends: unity-webapps-common, xdg-utils, ${misc:Depends}
XB-Ubuntu-Webapps-Domain: rememberthemilk.com
XB-Ubuntu-Webapps-Includes: https://*.rememberthemilk.com/*;https://rememberthemilk.com/*
XB-Ubuntu-Webapps-Name: Remember The Milk
Description: Unity Webapp for Remember The Milk
 Remember The Milk Webapp for Unity
